# Pandas统计计算和描述

In [1]:
import numpy as np
import pandas as pd

* 常用的统计计算

sum, mean, max, min.. 

axis=0 按 列 统 计 ， axis = 1 按 行 统 计

· skipna 排 除 缺 失 值 ， 默 认 为 True

In [2]:
df_obj = pd.DataFrame(np.random.randn(5,4), columns = ['a', 'b', 'c', 'd'])
df_obj

          a         b         c         d
0 -1.382340 -1.149930  2.271268  2.302356
1  0.376840 -1.032816 -2.067230  0.642961
2 -0.421443 -0.654287 -1.348469  1.603831
3 -0.601549  1.849012  0.934328  0.329934
4 -0.849374 -1.897308 -0.890308 -0.255923

In [3]:
df_obj.sum()

a   -2.877866
b   -2.885328
c   -1.100411
d    4.623159
dtype: float64

In [4]:
df_obj.max()

a    0.376840
b    1.849012
c    2.271268
d    2.302356
dtype: float64

In [5]:
df_obj.min(axis=1)

0   -1.382340
1   -2.067230
2   -1.348469
3   -0.601549
4   -1.897308
dtype: float64

* 统计描述

In [6]:
df_obj.describe()

              a         b         c         d
count  5.000000  5.000000  5.000000  5.000000
mean  -0.575573 -0.577066 -0.220082  0.924632
std    0.643693  1.429225  1.780021  1.023004
min   -1.382340 -1.897308 -2.067230 -0.255923
25%   -0.849374 -1.149930 -1.348469  0.329934
50%   -0.601549 -1.032816 -0.890308  0.642961
75%   -0.421443 -0.654287  0.934328  1.603831
max    0.376840  1.849012  2.271268  2.302356

In [8]:
df_obj.idxmax()

a    1
b    3
c    0
d    0
dtype: int64