# Pandas统计计算和描述

In [1]:
import numpy as np
import pandas as pd

* 常用的统计计算

sum, mean, max, min.. 

axis=0 按 列 统 计 ， axis = 1 按 行 统 计

· skipna 排 除 缺 失 值 ， 默 认 为 True

In [2]:
df_obj = pd.DataFrame(np.random.randn(5,4), columns = ['a', 'b', 'c', 'd'])
df_obj

          a         b         c         d
0  1.474731  0.596918  0.440730 -0.249879
1 -1.168249 -0.619954 -0.155129 -0.492825
2 -1.781997 -0.649184  0.337078  0.542351
3  0.063246 -0.335980  0.579977 -0.158008
4  0.164937 -0.283593  0.468024  0.171872

In [3]:
df_obj.sum()

a   -1.247332
b   -1.291794
c    1.670680
d   -0.186490
dtype: float64

In [4]:
df_obj.max()

a    1.474731
b    0.596918
c    0.579977
d    0.542351
dtype: float64

In [5]:
df_obj.min(axis=1)

0   -0.249879
1   -1.168249
2   -1.781997
3   -0.335980
4   -0.283593
dtype: float64

* 统计描述

In [6]:
df_obj.describe()

              a         b         c         d
count  5.000000  5.000000  5.000000  5.000000
mean  -0.249466 -0.258359  0.334136 -0.037298
std    1.268383  0.505385  0.286843  0.402185
min   -1.781997 -0.649184 -0.155129 -0.492825
25%   -1.168249 -0.619954  0.337078 -0.249879
50%    0.063246 -0.335980  0.440730 -0.158008
75%    0.164937 -0.283593  0.468024  0.171872
max    1.474731  0.596918  0.579977  0.542351

In [7]:
df_obj.idxmax()

a    0
b    0
c    3
d    2
dtype: int64

Pandas统计计算和描述方法

![panda_stats.png](Images/panda_stats.png)